:root {
    --dark-body: #262529;
    --dark-main: #141529;
    --dark-hover: #323048;
    --dark-text: #f8fbff;

    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #a5c1f1;
    --light-text: #151426;

    --blue: #0000ff;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;
}

body{
    margin:0;
    padding:0;
    background-color: whitesmoke;
    max-height: 100vh;
    box-sizing: border-box;
}
html {
    font-size: 52.5%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    height: 20vh;
}
.container-sidebar-calendar{
    display: flex;
    flex-direction: row;
}
.sidebar{
    background-color: rgb(190, 190, 102);
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding : 1em; */
}
.sidebar h2 {
    font-size: 2.5em;
}
.displayDay {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
.displayDate, .displayTime{
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
.todo{
    margin-top: 1em;
}
.showTodo .big{
    font-size: 5em;
    cursor: pointer;
}
.add-todo-box {
    
}
.add-box .small {
    font-size: 3em;
    padding-left: .5em;
    cursor: pointer;
} 

.todo-list {
    height: 200px;
    margin: 2em;
    background: #262626;
    visibility: hidden;
}
.active.todo-list {
    visibility: visible;
}

/* calendar */
.month-picker {
    cursor: pointer;
}
.container{
    background-color: var(--dark-body);
    width:75%;
}
.calendar {
    height: max-content;
    width : 100%;
    background-color: var(--bg-main);
    position: relative;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5em;
    color: var(--color-txt);
    padding: 1em;
    background-color: #274e72b0;
    font-family: 'Courier New', Courier, monospace;
}

.calendar-week-day {
    height: 5em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    background-color: rgba(6, 60, 97, 0.822);
}
.calendar-week-day div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--bg-second);
    border-left: #79788c 1px solid;
}
.calendar-week-day  div.cur-day {
    background-color: rgb(44, 76, 82);
    color:rgb(146, 221, 235)
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-days div {
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    margin: 0.5em;

}
.calendar-days div:hover {
    border: .5px solid black;
    border-radius: 1em;
    background-color: rgba(6, 60, 97, 0.822);
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: #274e72e5;
    border-radius: 1em;
    color: var(--white);
}
.todo-sum {
    position: absolute;
    bottom: 2px; left: 2px;
    padding: .5em;
    background-color: rgba(118, 158, 245, 0.445);
    border-radius: 1em;
    height: 1em;
    width: 1em;
    text-align: center;
}
.todo-spacial {
    position: absolute;
    bottom: 2px; right: 40%;
    padding: .5em;
    background-color: rgba(118, 158, 245, 0.445);
    height: 1em;
    width: 1em;
    text-align: center;
}
.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: auto;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
    font-size: 1.5em;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
    background-color: var(--dark-body);
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 50%;
    padding: 5px 20px;
    border-radius: 1em;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.month-list > div:hover {
    background-color: var(--light-body);
}

.year-picker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--light-body);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
